#container
	%a{:href=>'/'} Main Page
	\-
	- if @user.nil? then
		%a{:href =>'/login'}
			Login
	-else
		%a{:href => '/user'}
			User
		\-
		%a{:href => '/locker'}
			Locker
		\-
		%a{:href => '/logout'}
			Logout
			
