%h2= locals[:model].artist_name + " - " +  locals[:model].release_name
%h3= locals[:model].label + " - " + locals[:model].formatted_date
%img{:src=>locals[:model].image_url}
%div{:class=>"release-buy-link"}
  %a{:href=>locals[:model].url} Buy at 7Digital
  \-
  %a(href="/basket/add/#{locals[:model].release_id}") Add
  \-
  = locals[:model].price.formatted_price

