%form{ :action => "/search", :method => "post"}
			%label{:for => "search_value"} Search:
			%input{:type => "text", :name => "search_value", :class => "text"}
			%input{:type => "hidden", :name => "number_results", :value => '20', :class => "text"}
			%input{:type => "submit", :value => "Search", :class => "button"}