- if (@basket != nil)
  - @basket.basket_items.each do |item|
    = item.artist_name + " " + item.item_name
    %a(href="/basket/remove/#{item.id}") Remove
    \-
    = item.price.formatted_price