%html
	%head
		%title 7Digital
	%body
		%form{ :action => "/search/#{@model.country}", :method => "post"}
			%fieldset
				%label{:for => "search_value"} Search:
				%input{:type => "text", :name => "search_value", :class => "text"}
				%input{:type => "text", :name => "number_results", :value => '20', :class => "text"}
				%input{:type => "submit", :value => "Search", :class => "button"}