%html
	%head
		%title 7Digital
		%link{:type => "text/css", :href=>"/stylesheets/screen.css",:rel=>"stylesheet"}
		%link{:type => "text/css", :href=>"/stylesheets/print.css",:rel=>"stylesheet"}
		/[if IE]
		%link{:type => "text/css", :href=>"/stylesheets/ie.css",:rel=>"stylesheet"}
	%body
		= partial("basket_partial")
		= partial("search_partial")
		%div{:class => 'container'}
			%form{ :action => "/login", :method => "post"}
				%p
					%label{:for => "email"} Login:
					%input{:type => "text", :name => "email", :class => "text"}
				%p
					%label{:for => "password"} Password:			
					%input{:type => "password", :name => "password", :class => "text"}
				%p
					%input{:type => "submit", :value => "Login", :class => "button"}