%h2= @model.artist_name + " - " +  @model.release_name
%h3= @model.label + " - " + @model.formatted_date
%img{:src=>@model.image_url}
%div{:class=>"release-buy-link"}
  %a{:href=>@model.url} Buy at 7Digital
  %a(href="/basket/add/#{@model.release_id}") Add

